*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}
header{
    height: 150px;
    background-color:#38f1cc;
    text-align: center;
    box-sizing: border-box;
    color: white;
    padding: 60px;
}
nav{
    background-color: black;
    display: flex;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}
.container{
display:flex;
padding-top: 20px;
}

.block1{
    flex: 30%;
    background-color: rgba(121, 127, 133, 0.174);
    padding-right:10px;
    padding-left: 10px;
    
}
.img{
    height: 80px;
    background-color: darkgray;
   
}
.a{
    height: 30px;
    background-color: darkgrey;
}
.b{
    height: 30px;
    background-color: darkgrey;
}
.c{
    height: 30px;
    background-color: darkgrey;
}
.block2{
    flex: 70%;
    background-color: rgb(254, 252, 252);
   padding: 10px 10px;
}
.block3{
    height: 100px;;
    color: white;
    background-color: darkgray;
    text-align: center;
    padding-top: 20px;
}
